.posts {
    max-height: 80vh;
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    scroll-behavior: smooth;
}
.postsPageSorter {
    height: 80px;
    display: flex;
    justify-content: center;
}
.pageSorterBtn{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: white;
    border: 3px solid #b9e7e7;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}
.pageSorterBtn:hover {
    background-color: skyblue;
    color: white;
}
.checked {
    background-color: #b9e7e7;
    color: white;
}
