.doc-lists{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}
.doc-list {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 15px;
}
.list-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-title{
    font-size: 36px;
    font-weight: bold;
}