.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b9e7e7;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
h1 {
    font-size: 20px;
    color: teal;
    margin-bottom: 20px;
}
.registerForm {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 400px;
    gap: 20px;
}
.registerInput {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
.loginButton {
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.turnIntoRegister:hover {
    color: red;
}