.navBar {
    height: 80px;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.container {
    width: 100vw;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categoryLink {
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.categoryLink h6:hover {
    font-size: 35px;
}
.catChecked {
    color: red;
}

.logo {
    margin-left: 40px;
}

.logoImg {
    width: 70px;
    height: 70px;
}

h6 {
    font-size: 24px;
    font-weight: 300;
}

.navBarUsername, .navBarLogout {
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
}

.authList {
    background-color: #CCFFFF;
    min-width: 130px;
    padding: 12px 16px;
    position: absolute;
    transform-origin: center top;
    transform: scaleY(0);
    transition: 0.5s;
}

.authListLi:hover {
    color: red;
}



.navBarUsername:hover .authList{
    transform: scaleY(1);
}


.navBarWriteBtn {
    background-color: #b9e7e7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;

}

.navBarWriteBtn:hover {
    color: teal;
    background-color: white;
    border: 1px solid#b9e7e7;
}